.title {
  margin: 0px;
  color: black;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.homepage {
  height: 100%;
  margin: 0px;
  padding: 10px;
  background-image: url("../images/home-page.jpg");
  background-size: cover;
}
.carddiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card {
  color: white;
  height: 200px;
  width: 300px;
  margin: 10px;
  border: 0.01px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(173, 150, 150);
  box-shadow: 5px 5px 5px rgb(91, 77, 77);
}

